.camera-icon {
    bottom: 25px;
    right: 25px;
    transform: translate(0, 30%);
    position: absolute;
}

.w-half-screen {
    width: 50vw;
}

.tag {
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    border-radius: 51px;
}

.user-photo {
    border: 1px solid #D8D8D8;
    border-radius: 42px;
}

.fit-box {
    width: auto;
}