.w-half-screen {
    width: 50vw;
}

.tag {
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    border-radius: 51px;
}

.user-photo {
    border: 1px solid #D8D8D8;
    border-radius: 42px;
}

.fit-box {
    width: auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.gallery-padding {
    padding-right: 8%;
    padding-left: 8%;
}

@media (max-width: 630px) {
    .gallery-padding {
        padding-right: 4%;
        padding-left: 4%;
    }
}

.gallery-item {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    object-fit: cover;
}

.text-34px {
    font-size: 34px;
}

.text-24px {
    font-size: 24px;
}

.text-25px {
    font-size: 25px;
}

.w-95-screen {
    width: 95vw;
}

.camera-icon {
    bottom: 25px;
    right: 25px;
    transform: translate(0, 30%);
    position: absolute;
}

@media (min-width: 640px) and (max-width: 1023px) {
    .camera-icon {
        bottom: 50px;
        right: 50px;
        transform: translate(0, 30%);
        position: absolute;
    }

    .gallery-padding {
        padding-right: 12%;
        padding-left:12%;
    }
}

.w-boxx {
    width: 50vw;
}

@media (max-width: 1023px) {
    .w-boxx {
        width: 100vw;
    }
}

.btn {
    background: none;
    border: none;
    color: inherit;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn i {
    margin-right: 10px;
}

.block-btn {
    color: #dc3545;
}

.block-btn:hover {
    color: #c82333;
}

.report-btn {
    color: #ffc107;
}

.report-btn:hover {
    color: #e0a800;
}