.search-bar-bg {
    background: #F0E4E9;
}

.round-7px {
    border-radius: 7px;
}

.bg-transparent {
    background: transparent;
}

.w-209px {
    width: 209px;
}

.h-48px {
    height: 48px;
}

input.middle:focus {
    outline-width: 0;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.left-700px {
    left: 700px;
}

.w-133px {
    width: 133px;
}

.w-22px {
    width: 22px;
}

.h-34px {
    height: 34px;
}
