@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poetsen+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: sweet-dating;
    src: url("/public/fonts/sweet-dating/Sweet\ Dating.otf") format("opentype");
} */

* {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 100%;
    /* height: 100%; */
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* 
.sweet-dating {
    font-family: "sweet-dating", sans-serif;
    font-style: medium;
    font-weight: 400;
} */

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

.bg-light-gray {
    background-color: #EEEEEE;
}


.bg-light-gray1 {
    background-color: #E0E0E0;
}

.bg-pink {
    background-color: #D2649A;
}

.bg-red-light {
    background-color: #ffc9c9;
}

.bg-green-light {
    background-color: #E2DED5;
}

/* .bg-pastel-pink {
    background-color: #FFB5B5;
}

.hover\:bg-pastel-pink:hover {
    background-color: #FFB5B5;
}

.text-pastel-pink {
    color: #FFB5B5;
}


.hover\:text-pastel-pink:hover {
    color: #FFB5B5;
} */

/* .bg-pastel-pink-100 {
    background-color: #FF9696;
} */

.text-continue {
    color: #828282;
}

.item1 {
    flex: 0 0 60%;
}

.item2 {
    flex: 1;
}

.border-e0 {
    --tw-border-opacity: 1;
    border-color: rgb(224 224 224 / var(--tw-border-opacity));
}

.upload-section {
    border: dashed 6px;
    border-color: #49243E;
    background-color: #EAFFF9;
}

.hover\:upload-section:hover {
    background-color: #b1ffe9;
}

.max-w-80p {
    max-width: 80%;
}


.transition-blur {
    -webkit-transition: 1s -webkit-filter ease-in-out;
    -o-transition: 1s -o-filter ease-in-out;
  }



.scrollbar::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
.scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
    background: #D2649A;
    border-radius: 5px;
}
 
/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ca387f;
}
